.footer{
  padding:0.5rem;
}

blockquote{
  border-left-width: 6px;
}



:root {
  --ifm-color-primary: #0028c6;
  --ifm-color-primary-dark: #0027c1;
  --ifm-color-primary-darker: #0025b6;
  --ifm-color-primary-darkest: #001e96;
  --ifm-color-primary-light: #002feb;
  --ifm-color-primary-lighter: #0031f6;
  --ifm-color-primary-lightest: #1746ff;
}

[data-theme='light'] {
background-color: #f1f1f1;
}

[data-theme='dark'] {
  --ifm-color-primary: #47afff;
  --ifm-color-primary-dark: #26a1ff;
  --ifm-color-primary-darker: #169aff;
  --ifm-color-primary-darkest: #0081e4;
  --ifm-color-primary-light: #68bdff;
  --ifm-color-primary-lighter: #78c4ff;
  --ifm-color-primary-lightest: #a9daff;
}